* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}

:root {
    --main-color: #ff702a;
    --text-color: #fff;
    --bg-color: #1e1c2a;
    --big-font: 5rem;
    --h2-font: 2.25rem;
    --p-font: 0.9rem;
}

*::selection {
    background: var(--main-color);
    color: #fff;
}

body {
    color: var(--text-color);
    background: var(--bg-color);
}



header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 170px;
    background: var(--bg-color);
}

.icon-logo {
    justify-content: center;
    width: 30px;
    margin-right: 15px;
    
}
.icon-logo img {
    margin-bottom: ;
}
.branquinha {    
    max-width: 100%;
    width: 50px;
    height: auto;  
    justify-content: center;
}
.logo {
    color: var(--main-color);
    font-weight: 600;
    font-size: 2.4rem;
}

.navbar {
    display: flex;    
}

.navbar a {
    color: var(--text-color);
    font-size: 1.1rem;
    padding: 10px 20px;
    font-weight: 500;
}

.navbar a:hover {
    color: var(--main-color);
    transition: 1s;
}

#menu-icon {
    font-size: 2rem;
    cursor: pointer;
    display: none;
}

section {
    padding: 70px 17%;
}

.home {
    width: 100%;
    min-height: 90vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.7rem;
    align-items: center;
}

.home-img img {
    max-width: 100%;
    width: 600px;
    height: auto;
    animation: float 3s linear infinite;
}

@keyframes float{
    0%, 100%{
        transform: translateY(0rem);
    }
    50%{
        transform: translateY(3rem);
    }
}


.home-text h1 {
    font-size: 70px;
    color: var(--main-color);    
}

.typing::after {
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: piscar .5s infinite;
}

@keyframes piscar {
    from {
        opacity: 1;        
    }
    to {
        opacity: 0;        
    }
}

.home-text h2 {
    font-size: var(--h2-font);
    margin: 1rem 0 2rem;
}

.home-text p {
    font-size: var(--p-font);
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background: var(--main-color);
    color: #fff;
    border-radius: 0.5rem;
}

.btn:hover {
    transform: scale(1.2) translateY(10px);
    transition: .4s
}

.sobre {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 1.5rem;
    align-items: center;
}

.sobre-img img {
    max-width: 100%;
    width: 380px;
    height: auto;
    border-radius: 4px;
    border: 1px solid #feeee7;
    box-shadow: 0 0 15px #feeee7;
    cursor: pointer;
}



.sobre-text span{
    color: var(--main-color);
    font-weight: 600;
}

.sobre-text h2 {
    font-size: var(--h2-font);
}

.sobre-text p {
    margin: 0.8rem 0 1.8rem;
    line-height: 1.7;
    text-align: justify;
}

.heading {
    text-align: center;
}

.heading span {
    color: var(--main-color);
    font-weight: 600;    
}

.heading h2 {
    font-size: var(--h2-font);
}

.menu-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    grid-gap: 1.5rem;
    align-items: center;
    
}

.box {
    
}



.box-img img {
    width: 100%;
    height: 100%;   
    border-radius: 4px;
    border: 6px solid #feeee7;
    margin-top: 30px;
}

.box h2 {
    font-size: 1.3rem;
    color: var(--bg-color);
    text-align: center;
    padding-top: 20px;
}

.box h3 {
    color: var(--bg-color);
    font-size: 1rem;
    font-weight: 400;
    margin: 4px 0 10px;
    text-align: center;
}

.box span {
    font-size: var(--p-font);
    color: var(--main-color);
    font-weight: 600;
}

.box .bx {
    background: var(--main-color);
    position: absolute;
    right: 0;
    top: 0;
    font-size: 20px;
    padding: 7px 10px;
    border-radius: 0 0.5rem 0 0.5rem;
}

.slide-text {
    text-align: center;
    font-size: var(--h2-font);
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
}
.slide-container{
    max-width: 1120px;
    width: 100%;
    padding: 40px 0;
}
.slide-content{
    margin: 0 45px;
    overflow: hidden;
    border-radius: 25px;
    filter: drop-shadow(10px 10px 10px rgb(0, 0, 0, 0.389));
}
.card{
    border-radius: 25px;
    background-color: #feeee7;  
}
.image-content, .card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.image-content{
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
}
.overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: ;
    border-radius: 25px 25px 25px 25px;
}
.overlay::before,.overlay::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    
}
.overlay::after{
    border-radius: 0 25px 0 0;
    background-color: #feeee7;
}
.card-image{
    position: relative;
    height: 220px;
    width: 220px;   
    padding: 3px;
}
.card-image .card-img{    
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px solid var(--main-color);
    
}
.name{
    font-size: 18px;
    font-weight: 500;
    color: #333;
}
.description{
    font-size: 14px;
    color: var(--bg-color);
    text-align: center;
    position: relative
}
.description::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 38px;
}
.button{
    border: none;
    font-size: 16px;
    color: #FFF;
    padding: 8px 16px;
    background-color: var(--bg-color);
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.button:hover{
    background: var(--main-color);
}

.swiper-navBtn{
    color: #feeee7;
    transition: color 0.5s ease !important;
}
.swiper-navBtn:hover{
    color: #818181;    
}
.swiper-navBtn::before,
.swiper-navBtn::after{
    font-size: 35px;
}
.swiper-button-next{
    right: 0;
}
.swiper-button-prev{
    left: 0;
}
.swiper-pagination-bullet{
    background-color: #feeee7;
    opacity: 1;    
}
.swiper-pagination-bullet-active{
    background-color: #FFF;
}







.serviço-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, auto));
    grid-gap: 1.5rem;
    margin-top: 4rem;
}

.s-box {
    text-align: center;
    padding: 20px 30px;
}

.s-box img {
    width: 90px;
}

.s-box h3 {
    margin: 4px 0 10px;
    color: var(--main-color);
    font-size: 1.2rem;
}

.s-box p {
    line-height: 1.7;
}

.cta {
    background: #feeee7;
    padding: 70px 0;
    text-align: center;
    width: 66%;
    margin: 100px auto;
    border-radius: 10px;
}

.cta h2 {
    font-size: 2rem;
    color: var(--bg-color);
    margin-bottom: 30px;
}

.main {
    display: flex;
    flex-wrap: wrap;
}

.footer {
    padding: 10px 0;
}

.col {
    width: 25%;
}

.col h4 {
    font-size: 1.2rem;
    color: var(--text-color);
    margin-bottom: 25px;
    position: relative;
}

.col h4::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 50px;
    left: 0;
    bottom: -8px;
    background: var(--main-color);
}

.col ul li:not(last-child) {
    margin-bottom: 15px;
}

.col ul li a {
    color: #9897a9;
    font-size: 1.1rem;
    display: block;
    text-transform: capitalize;
    transition: .4s;
}

.col ul li a:hover {
    color: var(--text-color);
    transform: translateX(-12px);
}

.col .social {
    width: 220px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.col .social a {
    height: 40px;
    width: 40px;
    background: var(--main-color);
    color: var(--text-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    border-radius: 50%;
    transition: .4s;
}

.col .social a:hover {
    transition: scale(1.2);
    color: var(--bg-color);
    background: var(--text-color);
}

/* Animação*/
@keyframes sobeSecao {
    from {
        transition: .5s;
        transform: translate3d(60px, 0, 0);
    }
    to {
        transform: translate3d(0, 0, 0);
    }
}


/* Responsivo */
@media (max-width: 1560px) {
    header{
        padding: 15px 40px;
    }
    :root {
        --big-font:3.5rem;
        --h2-font:2rem;        
    }
}

@media (max-width: 1140px) {
    section{
        padding: 50px 8%;
    }
    #menu-icon {
        display: initial;
        color: var(--text-color);
    }
    header .navbar {
        display: none;
    }
    header .navbar.active {
        background: #2b2640;
        position: absolute;
        display: grid;
        top: 70px;
        color: white;
        z-index: 5;
        padding: 30px;
        font-size: 1.6rem;
        font-weight: bold;
        border-radius: 10px 0 0px 10px;
        right: 5px;
        animation: sobeSecao 0.6s ease-in-out forwards;
    }
    .navbar a{
        padding: 1.5rem;
        display: block;
    }
    .col {
        width: 50%;
        margin-bottom: 10px;
    }
}

@media (max-width: 720px) {
    header {
        padding: 10px 16px;
    }
    .home {
        grid-template-columns: 1fr;
        text-align: center;
    }
    .sobre {
        grid-template-columns: 1fr;
        text-align: center;
    }
    .sobre-img {
        order: 2;
    }
    section {
        padding: 100px 7%;
    }
    .slide-content{
        margin: 0 10px;
    }
    .swiper-navBtn{
        display: none;
    }
}

@media (max-width: 575px) {
    .col {
        width: 100%;
    }
}